body {
    margin: 0;
    background-color: #1e1e1e, sans-serif;
    font-family: Inter;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    min-height: 100px;
    margin: auto;

}

.header {
    background-color: 000000;
    padding: 24px 20px;
}

.cover {
    padding-left: 20px;
}